html {
    overflow-x: hidden;
}

body {
    background: black;
    overflow-x: hidden;
    /* overflow-y: scroll!important; */
    animation: bg 60s ease infinite;
    -webkit-animation: bg 60s ease infinite;
    -moz-animation: bg 60s ease infinite;
    -ms-animation: bg 60s ease infinite;
    -o-animation: bg 60s ease infinite;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-size: cover; */
    background-size: cover;
    object-fit: cover;
    z-index: -1;
}

.background {
    background-color: rgba(0, 0, 0, 0.3);
    filter: blur(5px);
    width: 100%;
    height: 100%;
    position: fixed;
}

header {
    opacity: 0.9 !important;
}

main {
    position: relative;
    /* padding:10rem; */
    height: 100%;
    backdrop-filter: blur(3px);
}

.main-char{
    max-width:45%;
}

.char-wrapper {
    padding: 0vw 5vw 0 5vw;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: "Tenor Sans", sans-serif;
}

.char-role {
    writing-mode: vertical-rl;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgba(49, 46, 65, 1);
    transform: rotate(180deg);
    /* color:#fff; */
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    font-size: 48px;
    text-align: center;
    /* margin:1vw 2vw 1vw 2vw; */
}

.line {
    margin: 0;
    width: 100%;
    height: 1rem;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.char-info{
    flex:1;
}

.char-info h2 {
    font-size: 5rem;
    margin: 0.5rem;
    margin-bottom: 0;
}

.description {
    position: relative;
    width: 40vw;
}

.black-holder {
    background-color: black;
    opacity: 0.3;
    top: 0;
    left: 10vw;
    width: 50vw;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: skew(35deg);
}

.title {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgba(123, 255, 199, 0.7);
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    vertical-align: middle;
}

.achievement {
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 0.5rem;
}

.badges {
    width: 15vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    /* margin: 1rem 0 0rem 0; */
}

.badge {
    margin: 0.3rem;
    width: 8vw;
    /* height: fit-content; */
    padding: 0.3rem;
    font-size: 0.7rem;
    background-color: rgba(1, 164, 143, 0.5);
}

.description {
    margin: 1rem 0rem 1rem 0;
    padding: 1rem 1rem 1rem 3rem;
    max-width: 30vw;
    max-height: 20vh;
    line-height: 1.5rem;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.3);
}

.fa-certificate {
    position: absolute;
    top: 10%;
    left: 1vw;
    color: rgba(213, 244, 220, 0.7)
}

.description::-webkit-scrollbar {
    width: 0.2rem;
}

.description::-webkit-scrollbar-track {
    display: none;
}

.description::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(123, 255, 199, 0.4);
}

.char-wrapper img {
    max-width:550px;
    /* max-height:400px; */
    flex: 1;
    /* position:absolute; */
    z-index: -1;
    right: 0;
}

.char-nav {
    overflow-y: hidden;
    overflow-x: scroll;
    /* flex-wrap: nowrap; */
    padding: 0.5rem 0rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-top:-5%; */
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.2);
}

.char-nav::-webkit-scrollbar {
    display: none;
}

.card {
    --blur: 16px;
    width: 20vw;
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 15px;
    color: white;
    /* overflow: hidden; */
    /* overflow-x:scroll; */
    margin: 0vh 1vw;
    transform: translateZ(0);
}

.card-img {
    width: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(var(--blur));
    align-content: center;
    align-items: center;
    border-top-left-radius: 25px 100px;
    border-top-right-radius: 25px 100px;
    border-bottom-left-radius: 120px 25px;
    border-bottom-right-radius: 120px 25px;
    /* justify-content: center; */
}

.active{
    background: rgba(0, 0, 0, 0.6);
    cursor:not-allowed;
}

.card-action {
    position: absolute;
    width: calc(20vw * 0.15);
    bottom: 30%;
    right: 1.5rem;
    transform: translateY(50%) translateY(10vw) translateY(calc(var(--hover, 0) * -10vw));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.fa-trophy {
    padding: 10px;
}

.card-footer span {
    margin: 1rem 0rem;
    font-family: "New Rocker", system-ui;
}

.card-footer span b {
    color: rgba(113, 240, 13, 0.8);
}

.card-footer span:nth-of-type(1) {
    text-align: center;
    font-size: 1.3rem;
}

.card-footer span:nth-of-type(2) {
    font-size: 1rem;
}

.card:is(:hover, :focus-visible) {
    --hover: 1;
}

.black-separator{
    width:100%;
    height:5vh;
    background-color: rgba(49, 46, 65,0.5);
}

@keyframes bg {

    0%,
    100% {
        background-size: 120% auto;
        background-image: url("../img/bg1.webp");
    }

    20% {
        background-size: 125% auto;
        background-image: url("../img/bg1.webp");
    }

    25% {
        background-size: 125% auto;
        background-image: url("../img/bg2.jpeg");
    }

    45% {
        background-size: 120% auto;
        background-image: url("../img/bg2.jpeg");
    }

    50% {
        background-size: 120% auto;
        background-image: url("../img/bg3.webp");
    }

    70% {
        background-size: 123% auto;
        background-image: url("../img/bg3.webp");
    }

    75% {
        background-size: 123% auto;
        background-image: url("../img/bg4.jpg");
    }

    95% {
        background-size: 120% auto;
        background-image: url("../img/bg4.jpg");
    }
}

/* ipad pro 1024 */
@media (max-width: 820px) or (max-width:1024px) {

    .black-holder {
        top: 0;
        left: 50vw;
        width: 65vw;
    }
    .char-wrapper{
        padding-top:1vh;
    }
    .char-role{
        font-size:2.5rem;
    }
    .char-info h2{
        font-size:3.5rem;
    }

    .description{
        width:100%;
        max-width:55vw;
    }
    .badge{
        padding:0.3rem;
        width:13vw;
    }
    .fa-trophy {
        padding: 8px;
    }
    .card-action {

        bottom: 15%;
        right: 1.5rem;
    }
    .card-footer span:nth-of-type(1) {
        text-align: center;
        font-size: 1rem;
    }

    .card-footer span:nth-of-type(2) {
        font-size: 1.3rem;
    }
    .card-action {
        opacity:0.8;
        bottom: 20%;
        right: 0.8rem;
    }
    .card {
        width: 25vw;
    }
    @keyframes bg {

        0%,
        100% {
            /* height:100% auto; */
            background-size:cover;
            /* background-size: 150% auto */
            background-image: url("../img/bg1.webp");
        }

        20% {
            /* height:105% auto; */
            /* background-size: 155% auto; */
            background-image: url("../img/bg1.webp");
        }

        25% {
            /* height:105% auto; */
            /* background-size: 155% auto; */
            background-image: url("../img/bg2.jpeg");
        }

        45% {
            /* height:100% auto; */
            /* background-size: 150% auto; */
            background-image: url("../img/bg2.jpeg");
        }

        50% {
            /* height:100% auto; */
            /* background-size: 150% auto; */
            background-image: url("../img/bg3.webp");
        }

        70% {
            /* height:103% auto; */
            /* background-size: 153% auto; */
            background-image: url("../img/bg3.webp");
        }

        75% {
            /* height:103% auto; */
            /* background-size: 153% auto; */
            background-image: url("../img/bg4.jpg");
        }

        95% {
            /* height:100% auto; */
            /* background-size: 150% auto; */
            background-image: url("../img/bg4.jpg");
        }
    }
}

@media (max-width: 420px) {
    body {
        height: 100%;
    }
    .black-holder {
        left: 40vw;
        width: 100vw;
    }
    .char-wrapper{
        padding-left:0;
        padding-right:0;
    }
    .char-role {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .achievement{
        flex-direction: column;
    }
    .char-info h2{
        font-size:2.5rem;
    }
    .badges{
        width:100%;
    }
    .badge{
        width:20vw;
        font-size: 0.5rem;
    }
    .card-action {
        opacity:0.7;
        bottom: 8%;
        right: 0.2rem;
    }
    .card {
        width: 30vw;
    }
    .char-wrapper img {
        width: 120%;
        flex:content;
    }
}

/* galaxy fold */
@media (max-width: 300px) {
    .char-role {
        font-size: 1rem;
        font-weight: 400;
    }
    .achievement{
        flex-direction: column;
    }
    .char-info h2{
        font-size:2.5rem;
    }
    .badges{
        width:70vw;
    }
    .badge{
        width:28vw;
        font-size: 0.5rem;
    }
    .card-action {
        opacity:0.7;
        bottom: 4.3%;
        right: 0.2rem;
    }
    .card {
        width: 50vw;
        margin-right:1rem;
    }
}