html {
    overflow-x: hidden;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/bg-bo.webp");
    overflow-x: hidden;
}

#strike-body {
    background-image: url("../img/bg-si.webp");
}

#tidal-body {
    background-image: url("../img/bg-ti.webp");
}

main {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    font-size: 12px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: radial-gradient(circle, rgba(255, 202, 121, 0.5) 0%, rgba(154, 119, 35, 0.5) 100%) !important;
    width: 100%;
    height: 100%;
}

#strike-cw {
    background: radial-gradient(circle, rgba(130, 110, 255, 0.5) 0%, rgba(160, 145, 222, 0.5) 100%) !important;
}
#tidal-cw {
    background: radial-gradient(circle, rgba(110, 238, 255, 0.5) 0%, rgba(145, 184, 222, 0.5) 100%) !important;
}

.cw-deco {
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cw-deco h2 {
    position: absolute !important;
    top: 50%;
    left: -15vw;
    vertical-align: bottom;
    margin: 0;
    font-size: 15rem;
    transform: rotate(-90deg);
    color: white;
    z-index: -1;
}

.cw-deco h3 {
    opacity: 0.4;
    position: absolute !important;
    top: -30%;
    left: 35%;
    vertical-align: bottom;
    line-height: 17rem;
    margin: 0;
    font-size: 18rem;
    transform: rotate(-90deg);
    color: white;
    z-index: -1;
}

a {
    text-decoration: none;
}

.banner-section-main {
    position: relative;
    overflow: hidden;
}

.banner-section-main .content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.left-text {
    width: calc(7% - 6.66px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    color: rgba(255, 202, 121, 1);
}

#strike-lt {
    color: rgba(204, 196, 237, 1);
}

#tidal-lt {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    color: rgb(196, 230, 237);
}

.img-drag {
    width: 40%;
    padding: 2em;
    margin: 0 2em 0 2em;
    z-index: 1;
}

.img-drag .bg-img {
    position: absolute;
    z-index: -1;
    width: 40%;
    bottom: 0;
    filter: blur(3px);
    opacity: 0.8;
}

.img-drag .class-img {
    width: 100%;
}

.dragonClass-info {
    z-index: 1;
    flex: 1;
    padding: 1em;
}

.dragonClass-info h5 {
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
    color: rgb(0, 0, 0, 1);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}


.dragonClass-info #strikeText {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    color: rgb(241, 238, 255);
}

.dragonClass-info #tidalText {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    color: rgb(238, 255, 255);
}

.dragonClass-info h1 {
    text-transform: uppercase;
    font-size: 3rem !important;
    letter-spacing: 1rem;
    line-height: 3rem;
    background: linear-gradient(180deg, rgba(107, 85, 54, 1) 0%, rgb(0, 0, 0) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dragonClass-info h1#strikeText {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(197, 187, 255) 90%);
    background-clip: text;
}

.dragonClass-info h1#tidalText {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(187, 231, 255) 90%);
    background-clip: text;
}

.desc-wrapper {
    width: 80%;
}

.desc-class {
    border: 1px solid rgba(223, 166, 80);
    background: linear-gradient(180deg, rgba(255, 202, 121, 0.20) 0%, rgba(233, 167, 66, 0.09) 100%);
    padding: 19.771px 22.218px 20.229px 22.799px;
    display: flex;
    gap: 15px;
    margin-bottom: 14px;
}

#strike-dc {
    border: 1px solid rgb(135, 80, 223);
    background: linear-gradient(180deg, rgba(255, 203, 242, 0.2) 0%, rgb(197, 187, 255, 0.09) 90%);
}

#tidal-dc {
    border: 1px solid rgb(35, 53, 132);
    background: linear-gradient(180deg, rgba(255, 203, 242, 0.2) 0%, rgb(197, 187, 255, 0.09) 90%);
}

.left-text h6 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 18.48px;
    writing-mode: vertical-rl;
}

.left-text img {
    width: 70px;
    height: 70px;
}

.dragonClass-info h5 {
    padding-bottom: 12px;
}

.content-wrapper .dragonClass-info h1 {
    display: inline-flex;
    padding-bottom: 28px;
}

.desc-box {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.desc-box img {
    width: 3vw;
}

.attr-wrapper {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.attribute {
    border: 1px solid rgba(223, 166, 80);
    flex: 1;
}

#strike-attr {
    border: 1px solid rgb(135, 80, 223);
}

#tidal-attr {
    border: 1px solid rgb(36, 38, 168);
}

.attr-level {
    color: rgba(255, 224, 183, 1);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 1rem;
    text-align: center;
    font-size: 7em;
    line-height: 0.8em;
    /* margin-top: 1rem; */
}

#strike-attr-lv {
    color: rgb(238, 183, 255);
}

#tidal-attr-lv {
    color: rgb(183, 247, 255);
}

.attribute p {
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 224, 183, 1);
    text-transform: uppercase;
    text-align: center;
    padding: 3px;
    border-top: 1px solid rgba(223, 166, 80);
    background: linear-gradient(180deg, rgba(255, 202, 121, 0.20) 0%, rgba(196, 137, 59, 0.09) 100%);
}

#strike-attr-p {
    color: rgb(238, 183, 255);
    border-top: 1px solid rgb(164, 80, 223);
    background: linear-gradient(180deg, rgba(244, 121, 255, 0.2) 0%, rgba(196, 59, 187, 0.09) 100%);
}

#tidal-attr-p {
    color: rgb(183, 232, 255);
    border-top: 1px solid rgb(25, 25, 164);
    background: linear-gradient(180deg, rgba(121, 204, 255, 0.2) 0%, rgba(59, 59, 196, 0.09) 100%);
}

.back-btn {
    border: 1px solid rgba(223, 166, 80);
    background: linear-gradient(180deg, rgba(255, 202, 121, 0.6) 0%, rgba(196, 137, 59, 0.5) 100%);
    border-radius: 15px;
    font-size: 18px;
    padding: 1rem 3rem;
    width: fit-content;
    text-transform: uppercase;
    color: white !important;
    text-align: center;
    text-decoration: none;
    transition: all ease 0.5s;
    cursor: pointer;
}

#strike-back-btn {
    border: 1px solid rgb(164, 80, 223);
    background: linear-gradient(180deg, rgba(244, 121, 255, 0.6) 0%, rgba(196, 59, 187, 0.5) 100%);
}

#tidal-back-btn {
    border: 1px solid rgb(80, 125, 223);
    background: linear-gradient(180deg, rgba(121, 213, 255, 0.6) 0%, rgba(37, 28, 171, 0.5) 100%);
}

.back-btn a {
    color: rgba(255, 255, 255, 0.8);
}

.nav-class {
    font-size: 2rem;
    text-align: center;
    color: white;
    right: 1%;
    bottom: 3%;
    position: fixed;
    --size: 8rem;
    display: grid;
    border-radius: 50%;
    z-index: 2;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.nav-class>img {
    grid-area: 1/1;
    width: var(--size);
    transition: .3s, .3s;
}

.nav-class img:hover {
    font-size: var(--size);
    z-index: 1;
    transition: transform .2s, font-size .3s .2s;
}

.nav-class>img:nth-child(1) {
    clip-path: polygon(50% 50%, 0.5em 1.2em, 0 1em, 0 0, 100% 0, 100% 1em, calc(100% - 0.5em) 1.2em);
}

.nav-class>img:nth-child(2) {
    clip-path: polygon(50% 50%, calc(100% - 1.2em) 0.5em, calc(100% - 1em) 0, 100% 0, 100% 100%, calc(100% - 1em) 100%, calc(100% - 1.2em) calc(100% - 0.5em));
}

.nav-class>img:nth-child(3) {
    clip-path: polygon(50% 50%, calc(100% - 0.5em) calc(100% - 1.2em), 100% calc(100% - 1.2em), 100% 100%, 0 100%, 0 calc(100% - 1em), 0.5em calc(100% - 1.2em));
}

.nav-class>img:nth-child(4) {
    clip-path: polygon(50% 50%, 1.2em 0.5em, 1em 0, 0 0, 0 100%, 1em 100%, 1.2em calc(100% - 0.5em));
}

.separator {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background: linear-gradient(180deg, rgba(47, 46, 57, 0) 0%, rgba(47, 46, 57, 1) 100%);
    ;
    /* background-color: rgba(47, 46, 57,1); */
    /* clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%); */
}

#cloud-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.2;
}

.cloud {
    width: 200px;
    height: 100px;
    background: #fff;
    border-radius: 200px;
    position: relative;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    left: 20px;
    border-radius: 100px;
    transform: rotate(45deg);
}

.cloud:after {
    width: 100px;
    height: 120px;
    top: -40px;
    left: auto;
    right: 30px;
}

.cd1 {
    animation: moves 60s linear infinite;
}

.cd2 {
    top: 10px;
    left: 10px;
    transform: scale(0.5);
    opacity: 0.6;
    animation: moves 105s linear infinite;
}

.cd3 {
    left: 1px;
    top: 3px;
    transform: scale(1);
    opacity: 0.8;
    animation: moves 50s linear infinite;
}

.cd4 {
    left: -5px;
    top: 10px;
    transform: scale(0.75);
    opacity: 0.75;
    animation: moves 25s linear infinite;
}

.cd5 {
    left: 10px;
    top: 7px;
    transform: scale(1.25);
    opacity: 0.8;
    animation: moves 80s linear infinite;
}

.cd6 {
    left: 50px;
    top: 7px;
    opacity: 0.8;
    animation: moves 30s linear infinite;
}

.cd6 {
    left: 50px;
    top: 300px;
    transform: scale(0.5);
    opacity: 0.8;
    animation: moves 120s linear infinite;
}

@keyframes moves {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: -100%;
    }
}

@media (max-width:820px) or (max-width:1024px) {
    .content-wrapper {
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .img-drag {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

    .img-drag .bg-img {
        width: 85%;
        top: 10vh;
        right: 2vw;
    }

    .dragonClass-info {
        padding: 5em;
        margin-bottom: 2em;
    }

    .dragonClass-info h5 {
        font-size: 1.5rem;
        letter-spacing: 1rem;
    }

    .dragonClass-info h1 {
        font-size: 3rem !important;
        letter-spacing: 1.5rem;
        line-height: 3rem;
    }

    .desc-box img {
        width: 100%;
    }

    .desc-class h5 {
        font-size: 1.5rem;
    }

    .desc-class p {
        font-size: 1rem;
        line-height: 2rem;
        /* letter-spacing: 0.3rem; */
    }
}

@media (max-width:420px) {
    .img-drag {
        width: 70%;
    }

    .left-text {
        margin-left: 0.5rem;
    }

    .dragonClass-info {
        width: 100%;
        padding: 1.5em;
        margin-bottom: 4em;
    }

    .dragonClass-info h5 {
        font-size: 1rem;
        letter-spacing: 0.5rem;
    }

    .dragonClass-info h1 {
        font-size: 2rem !important;
        letter-spacing: 1.5rem;
        line-height: 2.5rem;
    }

    .desc-wrapper {
        width: 95%;
    }

    .desc-class {
        padding: 1em;
    }

    .desc-box {
        position: absolute;
        right: 10vw;
        width: 10vw;
    }

    .attr-wrapper {
        flex-wrap: wrap;
    }

    .nav-class {
        align-items: end;
        justify-self: end;
        opacity: 0.5;
        --size: 6rem;
        font-size: 1.2rem;
    }

    .nav-class:hover {
        opacity: 0.8;
    }
}