:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  background: radial-gradient(circle, rgba(0, 65, 24, 1) 0%, rgba(0, 0, 0, 1) 50%);
}

.page-title {
  background-color: rgb(12, 11, 16);
  clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
  padding: 3rem;
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-size: 7em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(113, 240, 13, 1), 1px 1px 10px rgba(113, 240, 13, 1);
  color: rgb(45, 93, 8);
}



.card-wrapper {
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.class-card {
  box-sizing: border-box;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 1.5rem;
  perspective: 2500px;
  margin: 1rem;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.class-card:hover .img-wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.img-wrapper::before,
.img-wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.img-wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.img-wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.class-card:hover .img-wrapper::before,
.img-wrapper::after {
  opacity: 1;
}

.class-card:hover .img-wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  transition: transform 0.5s;
}

.class-card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.class-card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.info {
  height: 5vh;
  background-color: rgb(12, 11, 16);
  clip-path: polygon(50% 1%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
}

/* Ipad Responsive */
@media (max-width:1024px) {
  .page-title {
    font-size: 6em;
    padding-bottom: 7rem;
  }

  .class-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* Ipad Pro / Ipad Air / Ipad Mini */
@media (max-width:820px) {
  .page-title {
    font-size: 5em;
  }
}

/* Phone Responsive */
@media (max-width:420px) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  .page-title {
    font-size: 2em;
    padding-bottom: 3rem;
  }
}