html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-family: "New Rocker", system-ui;
}

.bg {
  background-color: black;
}

.blue-bg {
  background-color: rgb(64, 162, 201);
}

.main-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.main-wrapper::-webkit-scrollbar {
  display: none;
}

.parallax-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-img {
  background: url('../img/banner/img-main.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.clouds {
  background: url('../img/banner/clouds.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.deco {
  background: url('../img/banner/splashes.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.bot-img {
  width: 100%;
  background: url('../img/banner/waves3.png') no-repeat center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 4;
}

.overlay {
  background: linear-gradient(rgba(255, 255, 255, 0.25) 0%,
      rgba(116, 239, 255, 0.25) 86%,
      rgba(1, 0, 0, 0.25) 100%);
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 5;
}

.overlay h2 {
  text-align: right;
  width: 30vw;
  font-size: 0.8rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 4.5rem;
}

.title h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
  letter-spacing: 1rem;
  font-weight: 500;
  -webkit-text-stroke: 4px rgba(255, 255, 255, 1);
}

.title h1:nth-child(1) {
  color: transparent;
}

.title h1:nth-child(2) {
  color: rgba(157, 231, 245, 0.7);
  animation: animate 4s ease-in-out infinite;
}

.title h1:nth-child(3) {
  color: rgba(43, 172, 198, 0.7);
  animation: animate 3s ease infinite;
}

.title h1:nth-child(4) {
  color: rgba(255, 255, 255, 0.2);
  animation: animate 10s linear infinite;
}

.section-title {
  max-width: 50%;
  margin: 5% 10%;
}

.shadow {
  font-weight: bold;
  text-shadow:
    -3px -3px 0 rgba(15, 20, 29, 1),
    3px -3px 0 rgba(15, 20, 29, 1),
    -3px 3px 0 rgba(15, 20, 29, 1),
    3px 3px 0 rgba(15, 20, 29, 1),
    4px 4px 0 white,
    5px 5px 0 white,
    6px 6px 0 white,
    7px 7px 0 white;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  margin: 0;
  text-align: center;
}

.border {
  font-family: "Jacquard 24", system-ui;
  text-align: center;
  font-size: 2em;
  position: relative;
  margin: 0;
}

.border span {
  background-color: rgba(15, 20, 29, 1);
  padding: 0 0.3em;
}

.border:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid white;
}

.ac-title {
  font-size: 5em;
  line-height: 1em;
}

.info-container {
  height: fit-content !important;
  background: rgb(15, 20, 29);
  transform: translateZ(0) scale(1);
  z-index: 6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-desc {
  padding: 3em;
}

.section-desc {
  width: 60%;
}

.desc-img {
  max-width: 600px;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 100%;
  box-shadow:
    -50px -50px 0 -40px rgba(32, 43, 62, 0.8),
    50px 50px 0 -40px rgba(32, 43, 62, 0.8);
}

.second-wrapper {
  position: relative;
  width: 100%;
  height: 30vh;
  background: radial-gradient(rgba(24, 31, 45, 0.9), rgba(15, 20, 29, 1));
}

.Reflection {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: Uppercase;
  font-size: 2.3em;
}

.Reflection::before {
  text-align: center;
  content: attr(data-text);
  position: absolute;
  transform-origin: bottom;
  transform: rotatex(180deg);
  line-height: 1.1em;
  background: linear-gradient(0deg, #fff 0, transparent 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0.5;
}

.second-title {
  position: absolute;
  text-align: center;
  color: white;
  margin: 0;
  left: 5%;
  width: 15%;
  z-index: 1;
  font-size: 3em;
  padding: 3em 0em;
}

.second-section {
  clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
  background-color: black;
  height: 100%;
  padding: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.second-section h3 {
  font-size: 3em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 15vw;
  background-color: rgba(23, 22, 28, 0.9);
  border-radius: 10px;
  box-shadow: -1rem 0 3rem black;
  transition: 0.5s ease-out;
  position: relative;
  margin-left: -50px;
  transform: translateY(0px);
  overflow-y: scroll;
}

.card::-webkit-scrollbar {
  display: none;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.5s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.5s ease-out;
}

.card-title {
  color: white;
  font-size: 1.5em !important;
  margin: 1em auto;
}

.line {
  position: absolute;
  top: 25%;
  left: 10%;
  height: 2.5px;
  width: 80%;
}

.emptyline {
  background-color: rgba(46, 44, 55);
  width: 100%;
  height: 100%;
}

.filledline {
  position: absolute;
  width: 0px;
  height: 100%;
  background: linear-gradient(90deg, rgb(140, 222, 255) 0%, rgb(178, 142, 255) 65%, rgb(220, 137, 255) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledline {
  width: 100%;
  transition: 0.5s ease-out;
}

.second-desc {
  font-size: 0.8em;
  padding: 0rem 1rem;
}

.third-section {
  clip-path: polygon(100% 5%, 100% 100%, 0 100%, 0 5%, 50% 0);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: rgba(14, 19, 24, 1);
}

.third-title {
  margin: 1em auto 0.5em;
  font-size: 4em;
  text-align: center;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1);
  letter-spacing: 0.2em;
  color: transparent;
}

.img-wrapper {
  position: absolute;
  height: 100%;
  width: 80%;
  display: flex;
  transition: 1.5s;
}

.img-wrapper img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.third-section .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.third-section .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.waving-transition {
  bottom: 0;
  z-index: 1;
  position: absolute;
  background: linear-gradient(0deg, rgba(48, 46, 58, 1) 0%, rgba(48, 46, 58, 0) 100%);
  ;
  width: 100%;
  height: 10vh;
}

.fourth-title {
  padding: 2em auto 0.5em;
  margin: 0;
  font-size: 4em;
  text-align: center;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1);
  letter-spacing: 0.2em;
  background-color: rgba(48, 46, 58, 1);
  color: transparent;
}

.fourth-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(48, 46, 58, 1);
}

.wavy-deco {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.1);
  --mask:
    radial-gradient(calc(5.59em + 1.5px) at 50% calc(100% + 5em), #0000 calc(99% - 3px), #000 calc(101% - 3px) 99%, #0000 101%) calc(50% - 5em) calc(50% - 1.25em - 1.5px + .5px)/10em calc(2.5em + 3px),
    radial-gradient(calc(5.59em + 1.5px) at 50% -5em, #0000 calc(99% - 3px), #000 calc(101% - 3px) 99%, #0000 101%) 50% calc(50% + 1.25em + 1.5px)/10em calc(2.5em + 3px);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.fourth-section div h4 {
  font-size: 2em;
  writing-mode: vertical-lr;
  right: 0;
  top: 5%;
  position: absolute;
  opacity: 0;
  transition: all 0.1s ease;
}

.char1 {
  position: relative;
  margin: -1em 1.5em 1em;
  width: 15vw;
  height: 50vh;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(202, 167, 130, 0.5), rgba(48, 46, 58, 0)), url("../img/char/astrid.png");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in;
}

.char2 {
  position: relative;
  margin: 15em 1.5em 1em;
  width: 15vw;
  height: 50vh;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(105, 166, 178, 0.5), rgba(48, 46, 58, 0)), url("../img/char/valka.webp");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in;
}

.drag1 {
  position: relative;
  margin: 1em 1.5em 1em;
  width: 15vw;
  height: 50vh;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(28, 41, 51, 0.5), rgba(48, 46, 58, 0)), url("../img/drag-idx.png");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in;
}

.map1 {
  position: relative;
  margin: 10em 1.5em 1em;
  width: 15vw;
  height: 50vh;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(47, 50, 125, 0.8), rgba(48, 46, 58, 0)), url("../img/bg1.webp");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in;
}

.char1:hover {
  width: 18vw;
  height: 52vh;
  transition: all 0.3s ease-in;

  h4 {
    transition: all 0.1s ease;
    opacity: 1;
  }
}

.char2:hover {
  width: 18vw;
  height: 52vh;
  transition: all 0.3s ease-in;

  h4 {
    transition: all 0.1s ease;
    opacity: 1;
  }
}

.drag1:hover {
  width: 18vw;
  height: 52vh;
  transition: all 0.3s ease-in;

  h4 {
    transition: all 0.1s ease;
    opacity: 1;
  }
}

.map1:hover {
  width: 18vw;
  height: 52vh;
  transition: all 0.3s ease-in;

  h4 {
    transition: all 0.1s ease;
    opacity: 1;
  }
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

/* Ipad Responsive */
@media (max-width: 1024px) or (max-width:820px) {
  .title {
    top: 65%;
    font-size: 3.5rem;
  }

  .Reflection {
    font-size: 1.3em;
  }

  .second-wrapper {
    height: 50%;
    background: radial-gradient(rgba(24, 31, 45, 0.9), rgba(15, 20, 29, 1));
  }

  .card {
    width: 22vw;
  }

  .card-title {
    color: white;
    font-size: 1.5em !important;
    margin: 1em 1em;
  }

  .third-title {
    font-size: 3.5em;
  }

  .char1 {
    width: 30vw;
  }

  .char2 {
    width: 30vw;
  }

  .drag1 {
    width: 30vw;
  }

  .map1 {
    width: 30vw;
  }

  .char1:hover {
    width: 40vw;
  }

  .char2:hover {
    width: 40vw;
  }

  .drag1:hover {
    width: 40vw;
  }

  .map1:hover {
    width: 40vw;
  }

  .line {
    display: none;
  }
}

/* Phone Responsive */
@media (max-width:420px) {
  .title {
    top: 65%;
    font-size: 1.5rem;
  }

  .title h1 {
    letter-spacing: 0.3rem;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
  }

  .overlay h2 {
    font-size: 0.5rem;
  }

  .Reflection {
    font-size: 1.3em;
  }

  .second-wrapper {
    height: 30%;
    background: radial-gradient(rgba(24, 31, 45, 0.9), rgba(15, 20, 29, 1));
  }

  .ac-title {
    text-align: center;
  }

  .info-container {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .section-desc {
    width: 80%;
  }

  .second-section {
    padding: 1.5em;
  }

  .Reflection {
    font-size: 1em;
    line-height: 1.2em;
  }

  .Reflection::before {
    line-height: 1.2em;
  }

  .second-section {
    flex-direction: column;
  }

  .card {
    margin-left: -10px;
    width: 45vw;
  }

  .card-title {
    color: white;
    font-size: 1.5em !important;
    margin: 1em 1em;
  }

  .line {
    top: 45%;
  }


  .third-title {
    font-size: 1.6em;
  }

  .fourth-title {
    font-size: 2.5em;
  }

  .char1 {
    width: 35vw;
  }

  .char2 {
    width: 35vw;
  }

  .drag1 {
    width: 35vw;
  }

  .map1 {
    width: 35vw;
  }

  .char1:hover {
    width: 50vw;
  }

  .char2:hover {
    width: 50vw;
  }

  .drag1:hover {
    width: 50vw;
  }

  .map1:hover {
    width: 50vw;
  }
}