html {
    overflow-x: hidden;
}

body {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    background-color: black;
    overflow-x: hidden;
}

.content-wrapper {
    position: relative;
}

.image-wrapper {
    position: relative;
    text-align: center;
}

.main-img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-shadow: 5px 5px 100px rgba(253, 114, 13), 1px 1px 10px rgba(253, 114, 13);
}

.main-title {
    text-align: center;
    margin-top: 5vh;
    font-size: 5rem;
    color: black;
    text-shadow: 1px 1px 10px rgba(253, 114, 13), 1px 1px 10px rgba(253, 114, 13);
}

#hover-isle {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5em;
    height: 5em;
    top: 22%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 100%;
    text-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

.hover-num {
    text-align: center;
    font-size: 2.5em;
    flex: 1;
}

#info-isle {
    opacity: 1;
    transition: opacity .5s ease-out;
    z-index: 2;
    position: absolute;
    display: flex;
    padding: 1rem;
    width: 30%;
    flex-direction: column;
}

.hide-info {
    opacity: 0 !important;
    transition: opacity .5s ease-out;
    z-index: -1 !important;
}

.info_image {
    max-height: 250px;
    margin-top: -24px;
}

.info_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info_image:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    top: -100px;
    background: linear-gradient(0deg, #091014 10%, rgba(0, 0, 0, 0) 100%);
}

.info {
    background-color: #091014;
    border-radius: 10px;
    box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.info_content {
    padding: 1rem;
    z-index: 1;
    display: block;
}

.info_title {
    font-size: 2em;
    margin-top: -50px;
    text-shadow: black 1px 0 15px;
    color: white;
}

.info_text {
    letter-spacing: 0.1em;
    line-height: 1.3em;
    font-size: 1em;
    overflow-y: scroll;
    color: white;
    width: 100%;
    text-align: justify;
    border-left: white solid 1px;
    padding-left: 0.2rem;
}

.info_text::-webkit-scrollbar {
    display: none;
}

#hover-deathland {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5em;
    height: 5em;
    top: 15%;
    right: 38%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 100%;
    text-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

#info-deathland {
    opacity: 1;
    transition: opacity .5s ease-out;
    z-index: 2;
    position: absolute;
    display: flex;
    padding: 1rem;
    width: 30%;
    left: 25%;
    flex-direction: column;
}

#hover-blackbay {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5em;
    height: 5em;
    bottom: 37%;
    left: 23%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 100%;
    text-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

#info-blackbay {
    opacity: 1;
    transition: opacity .5s ease-out;
    z-index: 2;
    position: absolute;
    display: flex;
    padding: 1rem;
    width: 30%;
    bottom: 10%;
    left: 28%;
    flex-direction: column;
}

#hover-isleofdoom {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5em;
    height: 5em;
    bottom: 18%;
    right: 45%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 100%;
    text-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

#info-isleofdoom {
    opacity: 1;
    transition: opacity .5s ease-out;
    z-index: 2;
    position: absolute;
    display: flex;
    padding: 1rem;
    width: 30%;
    bottom: 5%;
    left: 17%;
    flex-direction: column;
}

#hover-meathead {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5em;
    height: 5em;
    bottom: 38%;
    right: 23%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 100%;
    text-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

#info-meathead {
    opacity: 1;
    transition: opacity .5s ease-out;
    z-index: 2;
    position: absolute;
    display: flex;
    padding: 1rem;
    width: 30%;
    bottom: 20%;
    right: 28%;
    flex-direction: column;
}

#hover-meatheadnorth {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5em;
    height: 5em;
    top: 28%;
    right: 17%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 100%;
    text-shadow: 1px 1px 10px rgb(255, 255, 255), 1px 1px 10px rgb(255, 255, 255);
}

#info-meatheadnorth {
    opacity: 1;
    transition: opacity .5s ease-out;
    z-index: 2;
    position: absolute;
    display: flex;
    padding: 1rem;
    width: 30%;
    top: 20%;
    right: 23%;
    flex-direction: column;
}

.tips {
    font-size: 1.3em;
    margin-left: 8%;
    position: absolute;
    color: white;
    z-index: 1;
    text-shadow: black 15px 1px 15px;
}

.secondary-title {
    text-align: center;
    margin: 10vh;
    font-size: 3.5rem;
    color: black;
    text-shadow: 1px 1px 10px rgba(253, 114, 13), 1px 1px 10px rgba(253, 114, 13);
}

.journey-main-wrapper {
    display: flex;
    flex-direction: column;
}

#journey-wrapper1 {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    width: 100%;
    flex-direction: row;
    display: flex;
}

#journey-wrapper2 {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
}

.jrnBox-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease-out;
    filter: grayscale(100%);
}

.jrnBox {
    position: relative;
    width: 20%;
    height: 75vh;
    overflow: hidden;
    transition: width 0.5s ease-out;
}

.jrnBox:before,
.jrnBox:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.jrnBox:after {
    background: opacify(black, 0.05);
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.jrnBox:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
    z-index: 1;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.jrnBox:hover {
    width: 25% !important;
}

.jrnBox:hover:after {
    opacity: 0;
}

.jrnBox:hover:before {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.75s ease-out, transform 0.75s ease-out 0.25s;
}

.jrnBox:hover .jrnBox-desc {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease-out 0.5s;
}

.jrnBox:hover .jrnBox-bg {
    filter: grayscale(0);
}

.jrnBox-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    line-height: 0;
    font-size: 2rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    z-index: 1;
}

.jrnBox-desc {
    transform: translateY(25px);
    position: relative;
    text-align: center;
    margin: 1.5em;
    top: 35%;
    z-index: 1;
    opacity: 0;
}

.jrnBox-desc h1 {
    color: white;
    font-size: 1.5rem;
}

.jrnBox-desc p {
    color: white;
}

.separator {
    margin-top: -8vh;
    position: relative;
    width: 100%;
    height: 8vh;
    background: linear-gradient(180deg, rgba(47, 46, 57, 0) 0%, rgba(47, 46, 57, 1) 100%);
    ;
}

/* Ipad Pro / Ipad Air / Ipad Mini */
@media (max-width: 820px) or (max-width:1024px) {
    .hover-num {
        font-size: 1.5em;
    }

    #hover-isle {
        width: 2.5em;
        height: 2.5em;
        top: 22%;
        left: 32%;
    }

    #hover-deathland {
        width: 2.5em;
        height: 2.5em;
        top: 15%;
        right: 36%;
    }

    #hover-blackbay {
        width: 2.5em;
        height: 2.5em;
        bottom: 37%;
        left: 23%;
    }

    #hover-isleofdoom {
        width: 2.5em;
        height: 2.5em;
        bottom: 18%;
        right: 45%;
    }

    #hover-meathead {
        width: 2.5em;
        height: 2.5em;
        bottom: 38%;
        right: 23%;
    }

    #hover-meatheadnorth {
        width: 2.5em;
        height: 2.5em;
        top: 28%;
        right: 17%;
    }

    .info_title {
        font-size: 1.5em;
        margin-top: -120px;
    }

    .info_text {
        letter-spacing: 0;
        line-height: 1.3em;
        font-size: 0.8em;
    }

    .tips {
        font-size: 0.8em;
    }

    #journey-wrapper1 {
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    }

    #journey-wrapper2 {
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }

    .jrnBox {
        height: 50vh;
    }

    .jrnBox-title {
        font-size: 1.5rem;
    }

    .jrnBox-desc h1 {
        font-size: 1.3rem;
    }

    .jrnBox-desc p {
        font-size: 0.7rem;
    }

    .jrnBox-desc {
        transform: translateY(25px);
        position: relative;
        text-align: center;
        margin: 1.5em;
        top: 30%;
    }
}

/* Handphone */
@media (max-width: 420px) {
    .main-title {
        font-size: 2.5rem;
    }

    .secondary-title {
        font-size: 1.5rem;
    }

    .hover-num {
        font-size: 1em;
    }

    #hover-isle {
        width: 2em;
        height: 2em;
        top: 20%;
        left: 30%;
    }

    #hover-deathland {
        width: 2em;
        height: 2em;
        top: 13%;
        right: 35%;
    }

    #hover-blackbay {
        width: 2em;
        height: 2em;
        bottom: 37%;
        left: 20%;
    }

    #hover-isleofdoom {
        width: 2em;
        height: 2em;
        bottom: 18%;
        right: 42%;
    }

    #hover-meathead {
        width: 2em;
        height: 2em;
        bottom: 35%;
        right: 22%;
    }

    #hover-meatheadnorth {
        width: 2em;
        height: 2em;
        top: 25%;
        right: 15%;
    }

    .info_title {
        font-size: 0.8em;
        margin-top: -120px;
    }

    #info-isle,
    #info-deathland,
    #info-blackbay,
    #info-isleofdoom,
    #info-meathead,
    #info-meatheadnorth {
        width: 40%;
    }

    #info-isle {
        top: 36%;
    }

    #info-deathland {
        left: 12%;
    }

    #info-isleofdoom {
        left: 6%;
    }

    .info_text {
        line-height: 1.1em;
        font-size: 0.5em;
    }

    .tips {
        font-size: 0.6em;
    }

    #journey-wrapper1 {
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
        flex-direction: column;
    }

    #journey-wrapper2 {
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
        flex-direction: column;
    }

    .journey-main-wrapper {
        align-items: flex-end;
        justify-items: flex-end;
        flex-direction: row;
    }

    .jrnBox {
        width: 100%;
        height: 75vh;
    }

    .jrnBox:hover {
        width: 100% !important;
    }

    .jrnBox-title {
        font-size: 1.5rem;
    }

    .jrnBox-desc h1 {
        font-size: 1.3rem;
    }

    .jrnBox-desc p {
        font-size: 0.7rem;
    }

    .jrnBox-desc {
        transform: translateY(25px);
        position: relative;
        text-align: center;
        margin: 1.5em;
        top: 30%;
    }
}