body {
    top: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-image: url('..\\img\\Register-BG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: fixed;
}

.content-wrapper{
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas {
    filter: blur(1px);
}

form * {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form {
    background-color: rgba(48, 47, 65, 0.3);
    /* max-height: 500px; */
    max-width: 400px;
    height: 75%;
    width: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 50px rgba(242, 255, 0, 0.4);
    padding: 3% 3%;
    overflow-y: scroll;
}

form img{
    vertical-align: top;
    width:60%;
    margin-bottom: 5%;
}

form::-webkit-scrollbar {
    display: none;
}

form h2 {
    margin-top: 0%;
    margin-bottom: 0;
    font-size: 3vw;
    font-weight: 500;
    line-height: 4vw;
    text-align: center;
}

form p {
    margin-top: 2%;
    font-size: 1.2vw;
    text-align: center;
}

.input-wrapper {
    --padding: 16px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.placeholder {
    position: absolute;
    color: rgba(255, 255, 255, 0.75);
    left: var(--padding);
    padding: 0 4px;
    transition: all 0.2s ease-in;
    cursor: text;
}

input:is(:focus, :valid)+.placeholder {
    background-color: rgb(155, 155, 155, 0.65);
    border: 2px solid rgba(255, 255, 0, 0.3);
    border-radius: 25px;
    transform: translatey(calc(-1 * var(--padding) - 12px));
    font-size: 14px;
    color: white;
}

input {
    padding: 0 5%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    outline: none;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    font-size: 1vw;
    font-weight: 300;
}

input:is(:focus, :valid) {
    border: 2px solid rgba(255, 255, 0, 0.3);
}

.radio-wrapper {
    position: relative;
    display: inline-flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 8%;
}

.radio-wrapper .option {
    background: rgba(255, 255, 255, 0.1);
    color:white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.radio-wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    position: relative;
}

.radio-wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: rgb(160, 160, 0);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#male:checked:checked~.male,
#female:checked:checked~.female {
    border-color: rgb(160, 160, 0,0.5);
    background: rgb(160, 160, 0);
}


#male:checked:checked~.male .dot::before,
#female:checked:checked~.female .dot::before {
    opacity: 1;
    transform: scale(1);
}

form textarea{
    margin-top:10px;
    width: 100%;
    height: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    color:white;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    resize: none;
}

form textarea:is(:focus,:valid){
    border-color: rgb(160, 160, 0,0.5);
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.textArea-wrapper {
    --padding: 16px;
    position: relative;
    display: block;
    align-items: center;
    margin-bottom: 5%;
}

.textAreaLabel {
    /* left: var(--padding); */
    position:relative;
    color: rgba(255, 255, 255, 0.75);
    padding: 0 4px;
    transition: all 0.2s ease-in;
}

button {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: rgba(220, 220, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

button:is(:hover,:active){
    transition: all 0.3s ease-in;
    background-color: rgb(200, 200, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5);
    color: rgb(255, 255, 255);
}

/* Tablet */
@media screen and (max-width: 820px) {
    form {
        padding: 3% 5%;
    }

    form h2 {
        margin-top: 5%;
        font-size: 5vw;
        line-height: 7vw;
    }

    #inputN {
        font-size: 1.8vw;
    }
    
    p {
        font-size: 1.8vw!important;
    }
}

@media screen and (max-width: 500px){
    form {
        padding: 3% 10%;
    }

    form h2 {
        margin-top: 5%;
        font-size: 3.5vw;
        line-height: 7vw;
    }
    p {
        font-size: 4vw!important;
    }
    input {
        font-size: 1px!important;
    }
    .male, .female{
        font-size:12px!important;
    }
}